* {
  box-sizing: border-box;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.square {
  border: 1px solid black;
  width: 15px;
  height: 15px;
}

.food {
  background-color: red;
}

.snake {
  background-color: blueviolet;
}
