* {
  box-sizing: border-box;
}

#board {
  width: 247px;
  height: 212px;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 35px;
  height: 35px;
  background-color: rgb(192, 201, 71);
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
